*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.project
.settings/
.vscode/
/app/src/main/cpp/.tags
/app/src/main/cpp/CMakeCache.txt
/app/src/main/cpp/CMakeFiles/
/app/src/main/cpp/Makefile
/app/src/main/cpp/cmake_install.cmake
/app/build

